/AllocationExpression.class
/AndExpression.class
/ArrayAllocationExpression.class
/ArrayAssignmentStatement.class
/ArrayLength.class
/ArrayLookup.class
/ArrayType.class
/AssignmentStatement.class
/Block.class
/BooleanType.class
/BracketExpression.class
/ClassDeclaration.class
/ClassExtendsDeclaration.class
/CompareExpression.class
/DivExpression.class
/Expression.class
/ExpressionList.class
/ExpressionRest.class
/FalseLiteral.class
/FormalParameter.class
/FormalParameterList.class
/FormalParameterRest.class
/Goal.class
/Identifier.class
/IdentifierList.class
/IdentifierRest.class
/IfStatement.class
/IfthenElseStatement.class
/IfthenStatement.class
/IntegerLiteral.class
/IntegerType.class
/MainClass.class
/MessageSend.class
/MethodDeclaration.class
/MinusExpression.class
/Node.class
/NodeChoice.class
/NodeList.class
/NodeListInterface.class
/NodeListOptional.class
/NodeOptional.class
/NodeSequence.class
/NodeToken.class
/NotExpression.class
/OrExpression.class
/PlusExpression.class
/PrimaryExpression.class
/PrintStatement.class
/Statement.class
/ThisExpression.class
/TimesExpression.class
/TrueLiteral.class
/Type.class
/TypeDeclaration.class
/VarDeclaration.class
/WhileStatement.class
/neqExpression.class
